@use "../abstracts/variables" as *;

/* ============================
   BASE TYPOGRAPHY
============================ */
body {
  background-color: $bg-base;
  line-height: $line-height-base;
}

/* ============================
   HEADINGS
============================ */
h1 {
  font-family: $font-title;
  font-weight: $font-weight-extra-bold;
  font-size: 2.5rem;
  margin-bottom: $space-md;
}

h2,
h3,
h4 {
  font-family: $font-family-heading;
  font-weight: $font-weight-bold;
}

