@use "../abstracts/variables" as *;

/* ============================
   ABOUT PAGE
============================ */
.about {
  /* ============================
     TITLE
  ============================ */
  &__title {
    font-weight: 700;
    color: var(--color-panel-dark);
  }

  /* ============================
     SUBTITLE
  ============================ */
  &__subtitle {
    color: var(--color-panel-dark);
  }

  &__section {
    margin-bottom: $space-lg;
  }

  /* ============================
     TEXT
  ============================ */
  &__text {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    justify-content: center;
    text-align: justify;
  }

  /* ============================
     IMAGE
  ============================ */
  &__image {
    width: 100%;
    max-width: 380px;
    border-radius: 12px;
    object-fit: cover;

    display: block;
    margin: 0 auto;
  }

  /* ============================
     LIST
  ============================ */
  &__list {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: 0.5rem;
      padding-left: 1.2rem;
      position: relative;

      &::before {
        content: "•";
        position: absolute;
        left: 0;
        color: var(--color-panel-dark);
        font-weight: bold;
      }
    }
  }
}
